.my-time-control {
    -base-color: blue;
    -fx-background-color: white;
}

.my-time-control .editable-time {
    -fx-background-color: pink;
}

.my-time-control .caption-label{
    -fx-background-color: orange;
    -fx-font-size: 42;
}
